/* @aztlan/generator-front 1.2.22 */

@use "@aztlan/bem";

.#{bem.$base}.navigation-footer {
  &.#{bem.$modifier-fixed} {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }

  &.border {
    border-bottom: 2px solid black;
  }

  //> span > button {
  //  width: 100%;
  //}
}


