/* @aztlan/generator-front 1.2.22 */

@use "@aztlan/bem";
@use "@aztlan/mixins/src/media" as media;

.#{bem.$base}.navigation-header {
  border-bottom: 2px solid black;
  &.#{bem.$modifier-fixed} {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  //> span > button {
  //  width: 100%;
  //}
}


